{% load i18n %}
{% load staticfiles %}

    <h4 class="sponsor-title golden">Golden</h4>
    <p>
      <a href="http://www.hde.co.jp/gip/?{{utm_vars}}" target="_blank">
        <img src="{% static 'images/sponsor_logo/hde.png' %}" width=200 height=80 alt="HDE, Inc.">
      </a>
      <a href="https://www.mongodb.com/learn/mongodb?{{utm_vars}}" target="_blank">
        <img src="{% static 'images/sponsor_logo/mongodb.png' %}" width=200 height=80 alt="mongodb">
      </a>
      <a href="https://www.google.com/?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/google.png" width=200 height=80 alt="Google">
      </a>
    <h4 class="sponsor-title silver">Silver</h4>
      <a href="http://www.tagtoo.com.tw/?{{utm_vars}}" target="_blank">
        <img src="{% static 'images/sponsor_logo/tagtoo.png' %}" width=200 height=80 alt="Tagtoo">
      </a>
      <a href="http://www.vpon.com/en-us/index.html?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/vpon.png" width=200 height=80 alt="Vpon">
      </a>
      <a href="https://github.com/?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/github.png" width=200 height=80 alt="Github">
      </a>
      <a href="http://www.zillians.com/?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/zillians.png" width=200 height=80 alt="Github">
      </a>
      <a href="http://www.appier.com/?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/appier.png" width=200 height=80 alt="Github">
      </a>
      
    <h4 class="sponsor-title bronze">Patron</h4>
    <p>
      <a href="http://www.acomotech.com/?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/acomotech.png" width=200 height=80 alt="AcoMo Technology">
      </a>

    <h4 class="sponsor-title">Special Thanks</h4>
    <p>
      <a href="http://clbc.tw/?{{utm_vars}}" target="_blank">
        <img src="{% static 'images/sponsor_logo/clbc.png' %}" width=200 height=80 alt="CLBC">
      </a>
      <a href="https://kktix.com/?utm_source=pyconapac&utm_medium=website&utm_campaign=sponsor" target="_blank">
        <img src="{% static 'images/sponsor_logo/kktix.png' %}" width=200 height=80 alt="KKTIX">
      </a>
      <a href="http://www.qsearch.cc/?{{utm_vars}}" target="_blank">
        <img src="{% static 'images/sponsor_logo/qsearch.png' %}" width=200 height=80 alt="QSearch">
      </a>
      <a href="https://www.python.org/psf/?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/psf.png" width=200 height=80 alt="Python Software Foundation">
      </a>
      <a href="http://www.openfoundry.org/?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/ossf.png" alt="Open Source Software Foundry">
      </a>
      <a href="https://livehouse.in/?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/livehouse.png" alt="LIVEhouse.in">
      </a>

    <h4 class="sponsor-title bronze">Media Sponsors</h4>
    <p>
      <a href="http://yowureport.com/?{{utm_vars}}" target="_blank">
        <img src="{% static 'images/sponsor_logo/yowureport.png' %}" width=200 height=80 alt="QSearch">
      </a>
      <a href="http://www.bnext.com.tw/?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/bnext.png" width=200 height=80 alt="Business Next">
      </a>
      <a href="http://www.vpon.com/en-us/index.html?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/vpon.png" width=200 height=80 alt="Vpon">
      </a>
      <a href="http://www.inside.com.tw/?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/inside.png" width=200 height=80 alt="Inside 硬塞的">
      </a>
      <a href="http://www.digitimes.com.tw/?{{utm_vars}}" target="_blank">
        <img src="https://tw.pycon.org/static/media/uploads/Sponsor/logo/digitimes.png" width=200 height=80 alt="DIGITIMES">
      </a>

